* {
    margin: 0;
    padding: 0;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #6a4c93;
}

.container {
    aspect-ratio: 1/1;
    height: 100%;
    margin: 10px;
    background: #1982c4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 5px solid #8ac926;
    
}

.sketch-title {
    margin-bottom: 10px;
    color: #f9c74f;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}

.sketch-container {
    aspect-ratio: 1/1;
    height: 90%;
    background: rgb(117, 116, 116);
    display: flex;
    flex-direction: column;
    
    
    
}

.sketch-line {
    flex: 1;
    display: flex;
    
}

.sketch-pixel {
    background: #D8D8D8;
    flex: 1;
    border: 0.01px solid rgb(188, 184, 184);
}

@media(max-width: 690px) {
    .container {
        width: 98%;
        height: auto;
    
    }
}

.sketch-buttons {
    
    margin: 20px 20px 30px 20px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.grid-btn {
    padding: 5px;
    background-color: transparent;
    border: 3px solid #f9c74f;
    color: #f9c74f;
    font-weight: 700;
    margin: 2px;
}

.sketch-header {
    display: flex;
    width: 80%;
    justify-content: center;
    
}

.clear-btn {
    margin-left: auto;
    align-self: center;
}

.clear-btn:hover {
    background: #f9c74f;
    color: #1982c4;
}