* {
    margin: 0;
    padding: 0;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #6a4c93;
}

.container {
    aspect-ratio: 1/1;
    height: 100%;
    margin: 10px;
    background: #1982c4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 5px solid #8ac926;
    
}

.sketch-title {
    margin-bottom: 10px;
    color: #f9c74f;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}

.sketch-container {
    aspect-ratio: 1/1;
    height: 90%;
    background: rgb(117, 116, 116);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
    
}

.sketch-line {
    flex: 1;
    display: flex;
    
}

.sketch-pixel {
    background: #D8D8D8;
    flex: 1;
    border: 0.01px solid rgb(188, 184, 184);
}

@media(max-width: 690px) {
    .container {
        width: 98%;
        height: auto;
    
    }
}